#trm_col_gxb_day{font-family:Arial,Helvetica:font-size:11px;}
#trm_col_gxb_trm{font-family:Arial,Helvetica:font-size:14px;}
#trm_col_gxb_trm_basicIcon{width: 12px;}
#trm_col_gxb_trm_fullIcon{width: 9px;}
#trm_col_gxb_trm_yesterday{font-size:10px;color:#444;}